name: Check & fix styling

on: workflow_call

jobs:
  php-cs-fixer:
    runs-on: self-hosted
    container: setupphp/node:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run PHP CS Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --config=.php-cs-fixer.dist.php

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix styling
